* {
  box-sizing: border-box;
}

.cairo-nama {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 2%;
  font-family: "Cairo", sans-serif;
  background-color: #472B39;
  direction: rtl;
}

.a {
display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: #8A546F;
  padding: 3%;
  direction: rtl;
  font-size: 4vw;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  border-radius: 3vw;
  border: none;
  transition: 0.3s ease-in-out;
}

.a:hover {
  background-color: #72465C;
  transform: scale(1.02);
}

.a:active {
  background-color: #72465C;
  transform: scale(1.02);
}

header {
  text-align: center
}

header p1 {
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 6vw;
}

h1, h2 {
  width: 100%;
  display: inline-block;
  background-color: #61454757;
  border-radius: 3vw;
  text-align: right;
  font-size: 4vw;
  color: #A8A8A8;
  margin-top: 3%;
    padding: 2%;

}


div {
  border-bottom: 2px solid #794B62;
  padding-bottom: 0.5em;
  border-radius: 0.5px;
}