body {
  background-color: black;
  font-family: 'EB Garamond', serif;

}

p {
  color: white;
  font-size: 7vw;
  font-weight: bold;
  border-bottom: 5px solid #FFFFFF;
  padding-bottom: 0.5em;
  border-radius: 100px;
  text-align: center;
}


h1 {
  color: white;
  font-size: 4vw;
  border-bottom: 5px solid #FFFFFF;
  padding-bottom: 0.5em;
}


h2 {
  color: white;
  font-size: 4vw;
  border-bottom: 5px solid #FFFFFF;
  padding-bottom: 0.5em;
}


h3 {
  color: white;
  font-size: 4vw;
}