* {
  box-sizing: border-box;
}

.cairo-nama {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 2%;
  font-family: "Cairo", sans-serif;
  background-color: #2B4440;
  direction: rtl;
  
}

.a {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: #5E988F;
  padding: 3%;
  direction: rtl;
  font-size: 4vw;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  border-radius: 3vw;
  border: none;
  transition: 0.3s ease-in-out;
}



.a:active {
  background-color: #497770;
  transform: scale(1.02);
}

header {
  text-align: center
}

header p {
  display: inline-block;
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 6vw;
}

h1 {
  width: 100%;
  display: inline-block;
  height: auto;
  background-color: #546D6A70;
  border-radius: 3vw;
  text-align: right;
  font-size: 4vw;
  color: #A8A8A8;
  padding: 2%;
}

div {
  border-bottom: 2px solid #446D66;
  padding-bottom: 0.5em;
  border-radius: 0.5px;
  direction: rtl;

}

h3 {
  text-align: right;
  padding: 2%;
  background-color: #546D6A70;
  font-size: 4vw;
  color: #A8A8A8;
  border-radius: 5vw;
  direction: rtl;
}